# --- JWT Config ---
secret_key=UMA_CHAVE_MUITO_SEGURA
algorithm=HS256
access_token_expire_minutes=120
# --- Google OAuth Config ---
NEXT_PUBLIC_GOOGLE_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXX
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

# Database Config
database_driver=postgresql+psycopg2
database_username=user
database_password=password
database_host=database
database_port=5432
database_name=decozy_db

# --- API Keys ---

nvidia_api_key=nvapi-XXXXXXXXXXXXXXXXXXXXXXXXXXXX
openai_api_key=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXX
groq_api_key=gsk_XXXXXXXXXXXXXXXXXXXXXXXXXXXX
groq_model=llama-3.3-70b-versatile
# --- FastAPI Config ---
environment=development
port=8000

UPLOAD_DIR=static/uploads
frontend_url=http://localhost:3000

# -- Stripe Config ---
stripe_publishable_key=pk_testxxxxxxxxxxxxxxxxxxx
stripe_secret_key=pk_testxxxxxxxxxxxxxxxxxxx